.navbar_accueil {
    display: flex;
    justify-content: center;    
   
}



.imageBackgroundContainer {
    width: 100%;
    height: auto;
    background-image: 
      linear-gradient(to bottom, #5b4a72, #cfb78a); 
  
    background-size: 100% 300%;
    background-position: 50% 0%;
    animation: gradientShift 8s ease infinite;
   
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  
    color: var(--font_color_clair);
    margin-bottom: -80px;
   
  
  }
  
  @keyframes gradientShift {
    0% {
      background-position: 0% 0%; 
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }



.div_bande_banniere {
    background-color: rgba(0, 0, 0, 0);
    height: auto;
   
    margin-bottom: 20px;
    margin-top: 30px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;


}

.div_bande_banniere_texte {
    background-color: rgba(246, 217, 143, 0);
    text-align: center;
   
}

.div_bande_banniere_texte p {
  margin-top: -15px;
  background-color: rgba(178, 255, 127, 0);
  
 
}

.div_organise_tags {
    background-color: rgba(142, 142, 243, 0);
    display: flex;
    justify-content: center;    
}

.div_tags {
    background-color: rgba(210, 105, 30, 0);
    width: 41vw;                                      
    
    display: flex;
    justify-content: center;
    gap: 1vw;
    flex-wrap: wrap;
    
}
 


.div_description {
    background-color: rgba(127, 255, 212, 0);

    margin-top: 3vh;
    height: auto;
    padding: 0px 19vw;
   

    display: flex;
    flex-direction: column;  
    justify-content: center;
    gap: 0px;

    text-align: center;
}

.div_description p {
   
    background-color: rgba(0, 255, 255, 0);  
    margin-top: -15px;
}

.div_description h4 {
   
    background-color: rgba(255, 38, 0, 0);  
}

.containerTitreDescription {
    background-color: rgba(0, 255, 255, 0);
    padding-top: 20px;
}


.backgroundTechProjet {
    background-color: #f1e2c6af;

    margin-top: 60px;

    padding-top: 15px;
    padding-bottom: 30px;
    
  
}

.backgroundTechProjet p {
    color:var(--font_color_foncee);
}

.div_tech_orga {
    background-color: rgba(139, 68, 20, 0);
    height: 150px;
  
    display: flex;
    justify-content: flex-start;    
    gap: 10px;   

    margin-top: 60px; 
    padding: 0px 18vw;

}

.div_tech {
   
    background-color: var(--surface_claire);  
    border-radius: 20px;
    border-radius: 10px;

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 0vh;
}

.div_tech h4{
    background-color: rgba(0, 255, 255, 0);
    font-weight: 500;
    font-size: medium;
    padding-bottom: 5px;
   
    
}






.range_tech {
    background-color: #ce4c4c00;
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin: 0px 30px;
    margin-bottom: 15px;
    margin-top: -10px;
   
}


@media (max-width: 1100px) {

    .div_paragraphe {
        padding: 0px 10vw;
    }

    .div_demo_btn_fonctionnalites {
        width: 80vw;
    }
   
    
  }



.conteneur_demo_btn_fonctionnalites {
    background-color: rgba(220, 20, 60,0);
    display: flex;
    justify-content: center;
    margin-top: 0vh;
    min-width: 85vw;  

    margin-bottom: 0px;

}

.div_demo_btn_fonctionnalites {
    background-color: rgb(88, 212, 30,0);
    width: 48vw;
  
    height: auto;
    border-radius: 20px;
    padding: 0px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  
    

}

.div_demo {
    background-color: var(--surface_claire);
    margin-top: 10px;
    width:60vw;
    height: auto;
    padding: 0px 0px;
    padding-bottom: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;


}

.div_demo h4 {
     font-weight: 500;
    font-size: medium;
    padding-bottom: 5px;
}

.demo {
    background-color: rgb(9, 245, 28);
    width: auto;
    height: auto;
}

.div_buttonCustom {
    background-color: rgb(127, 255, 212, 0);
    display: flex;
    justify-content: center;

    margin-top: 30px;
    gap: 30px;
}

.buttonsCustoms {
    background-color: rgb(165, 42, 42, 0);
    
}


.div_fonctionnalites {
    background-color: rgb(127, 255, 212, 0);
    display:flex;
    justify-content: center;

    height: auto;    
    padding: 15px 10px;
   
}

.div_fonctionnalites h4{
    font-weight: 500;
    font-size: medium;
    text-align: center;
}


.fonctionalites {
    background-color: var(--surface_claire);
    width: 57vw;
    border-radius: 10px;
    padding: 20px 20px;
    
}



.fonctionalites p {
    margin: 0vw 4vw;
    padding: 5px 0px;
   
}

.flex-container_p3 {
    background-color: rgba(240, 127, 255, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 55vw;
    border-radius: 30px;
    height: auto;
    padding: 28px 25px;
  }



  /*---Les media -----------------------------------------*/

@media (min-width: 1070px) {

    .div_tech_orga {
        padding: 0px 19vw;
    }
    .div_demo_btn_fonctionnalites {
        background-color: rgba(0, 0, 0, 0);
        width: 57vw;
        min-width: 610px;
    }

    .div_tech h4 {
        background-color: rgba(248, 223, 133, 0);
        margin: 22px 12px;


    }

   
}

@media (max-width: 1070px) and (min-width: 700px) {
    .div_demo_btn_fonctionnalites {
        background-color: var(--surface_claire);
        width: 87vw;
        min-width: 585px;     
        margin-top: 10px;   
        border-radius: 10px;
        padding-top: 0px;
    }

    .div_demo {
        background-color: var(--surface_claire);
        min-width: 104%;
        margin-top: 0px;
    }

    .div_tech_orga {
        gap: 10px;
        padding: 0px 3vw;

    }

    .div_tech h4 {
        background-color: rgba(66, 189, 70, 0);
        margin: 20px 12px;
    }



    .div_demo_btn_fonctionnalites {
        background-color:rgba(165, 42, 42, 0) ;
    }

    .div_fonctionnalites {
        background-color: rgba(127, 255, 212, 0);
        min-width: 103%;
        padding-top: 0px;
      
    }

    .fonctionalites {
        background-color: var(--surface_claire);
        min-width: 97%;
        margin-top: 0px;
    }

}
  
@media (max-width: 700px) {
    
    .div_tech_orga {
        background-color: rgba(199, 95, 149, 0);
        flex-direction: column;
        height: auto;
        padding: 0px 4vw;
        
        justify-content: center;        
    } 

    .div_tech {
        margin: 0px 0px;
        padding: 0px 20px;
        background-color: var(--surface_claire);
       
    }

    .div_demo_btn_fonctionnalites {
        width: 81vw;
        margin: 10px 20px;
        background-color:rgba(0, 0, 0, 0);
        border-radius: 10px;
        padding-top: 0px;

    }

    .div_demo {
        width:108%;
        margin-top: 0px;

     
    }

    .div_demo h4  {
       
        background-color: rgba(0, 255, 255, 0);
    }
    
    .div_demo_btn_fonctionnalites {
        background-color:rgba(165, 42, 42, 0) ;
    }


    
    .div_fonctionnalites {
        background-color: rgba(127, 255, 212, 0);
        min-width: 104%;     
        padding-top: 0px; 
    }

    .fonctionalites {
        background-color: var(--surface_claire);
        min-width: 97%;
        margin-top: 0px;

    }


    
    
}

@media (max-width: 542px) and (min-width: 320px) {

    .conteneur_demo_btn_fonctionnalites {
        background-color: rgba(210, 105, 30,0);
        padding:0px
    }
    .div_demo_btn_fonctionnalites {
        background-color: var(--surface_claire);
        min-width: 80%;
    
    }


    .div_demo {
        background-color: rgba(0, 0, 255, 0);
        min-width:111%;
        margin-top: 0px;

    }

    .div_demo h4  {
       
        background-color: rgb(255, 230, 0, 0);
        text-align: center;
    }

    .div_fonctionnalites {
        background-color: rgba(127, 255, 212,0);
      
    }

    .containerFonctionnaliteSprints{
        background-color: rgba(137, 43, 226, 0);
    }

    .containerFonctionnaliteSprints .div_demo_btn_fonctionnalites{
        background-color: rgba(255, 127, 80, 0);

    }

   

}

@media (max-width: 320px) {

    .range_tech {
        
        flex-direction: column;
        background-color: rgba(127, 255, 212, 0);
    }

    .div_tags {
        background-color: rgba(210, 105, 30, 0);
        width: 41vw;                                             
        
        display: flex;
        justify-content: center;
        gap: 0.8vh;
        flex-wrap: wrap;
    }

    .div_demo_btn_fonctionnalites {
        background-color: black;
        min-width: 76%;
    }

    .div_demo {
        background-color: var(--surface_claire);
        min-width: 120%;
      
    }

    .div_demo h4  {
        text-align: center;
        background-color: rgb(157, 255, 111);
    }

    


    
    
}


  
