.btn {
    background-color: var(--button_color);
    border: none;
    border-radius: var(--border_radius_button);
    box-shadow: 3px 3px 3px var(--shadow_color_button);
    transition: background-color 0.3s ease-in-out;    
    cursor: pointer;

    color: var( --font_color_foncee);    
    font-family: var(--font);  
    font-size: var(--font_size_button);

    height: 30px;
    display: inline-block;
    white-space: nowrap;

    
    margin-bottom: 10px;
 
    padding: 0px 20px;
}

.btn:hover {
    background-color: var(--hover_color_button);
}

.banniere {
    margin-right: 1vw;
}

