.divImage {
    background-color: var(--color1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;

    height: 340px;
    width: auto;
    border-radius: 10px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.divImage p {
    text-align: center;
}

.image_div {
    height: 250px;
    width: auto;
    border-radius: 10px;
}