.container_footer {    

    background-color: var(--surface_color_peche); /* Couleur de fond sombre */
    color: var(--font_color); /* Couleur du texte claire pour contraster avec le fond */
    padding: 10px 0; /* Espace autour du contenu du footer */
    text-align: center; /* Centrer le contenu */
    font-size: 14px; /* Taille du texte */
    margin-top: 6vh;
    
}